.projet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 432px;
    border-radius: 30px;
    background: var(--background-fonce);
    overflow: hidden;
    padding: 4px 4px 10px 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.projet-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}
.projet-container img {
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 47%;
}
.projet-container h3 {
    font-size: 20px;
}
.projet-container p {
    font-size: 16px;
}
.projet-texte {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    flex: 1;
    opacity: 0.85;
    transform: translateY(0px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.projet-container:hover .projet-texte {
    opacity: 1;
    transform: translateY(-5px);
}
/* .projet-lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
} */
.projet-lien {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
    padding-bottom: 4px;
    font-size: 18px;
    font-family: "Rethink Sans";
    color: var(--texte-blanc);
    transition: color 0.3s ease;
    width: fit-content;
}

.projet-lien::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--jaune);
    bottom: 0;
    left: 0;
    transition: width 0.4s ease;
}
.projet-lien:hover {
    color: var(--jaune);
}
.projet-lien:hover::before {
    width: 100%;
}
.projet-lien .fa-solid {
    font-size: large;
}
@media (min-width: 520px) {
    .projet-container {
        height: 540px;
    }
    .projet-container img {
        height: 55%;
    }
    .projet-container h3 {
        font-size: 24px;
    }
    .projet-container p {
        font-size: 20px;
    }
}
@media (min-width: 700px) {
    .projet-container {
        height: 432px;
    }
    .projet-container img {
        height: 47%;
    }
    .projet-container h3 {
        font-size: 20px;
    }
    .projet-container p {
        font-size: 16px;
    }
}
@media (min-width: 1024px) {
    .projet-container {
        height: 540px;
    }
    .projet-container img {
        height: 55%;
    }
    .projet-container h3 {
        font-size: 24px;
    }
    .projet-container p {
        font-size: 20px;
    }
    .projet-lien .fa-solid {
        font-size: 22px;
    }
}
@media (min-width: 1640px) {
    .projet-container {
        height: 587px;
    }
    .projet-container img {
        height: 55%;
    }
    .projet-container h3 {
        font-size: 28px;
    }
    .projet-container p {
        font-size: 24px;
    }
}
