.projet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 432px;
    border-radius: 30px;
    background: var(--background-fonce);
    overflow: hidden;
    padding: 4px 4px 10px 4px;
}
.projet-container img {
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 47%;
}
.projet-container h3 {
    font-size: 20px;
}
.projet-container p {
    font-size: 16px;
}
.projet-texte {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    flex: 1;
}
.projet-lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.projet-lien .fa-solid {
    font-size: large;
}
@media (min-width: 520px) {
    .projet-container {
        height: 540px;
    }
    .projet-container img {
        height: 55%;
    }
    .projet-container h3 {
        font-size: 24px;
    }
    .projet-container p {
        font-size: 20px;
    }
}
@media (min-width: 700px) {
    .projet-container {
        height: 432px;
    }
    .projet-container img {
        height: 47%;
    }
    .projet-container h3 {
        font-size: 20px;
    }
    .projet-container p {
        font-size: 16px;
    }
}
@media (min-width: 1024px) {
    .projet-container {
        height: 540px;
    }
    .projet-container img {
        height: 55%;
    }
    .projet-container h3 {
        font-size: 24px;
    }
    .projet-container p {
        font-size: 20px;
    }
}
@media (min-width: 1640px) {
    .projet-container {
        height: 587px;
    }
    .projet-container img {
        height: 55%;
    }
    .projet-container h3 {
        font-size: 28px;
    }
    .projet-container p {
        font-size: 24px;
    }
}
