.section-competences {
    background-color: var(--background-fonce);
    padding: 30px 0;
}
.competences-text h2 {
    font-family: "Righteous", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--jaune);
    text-align: center;
    margin-bottom: 30px;
}
.competences-text h3 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.competences-content {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    overflow: hidden;
}
.slider-column {
    height: 350px;
    overflow: hidden;
    position: relative;
}
.slider-column::before,
.slider-column::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 35px;
    z-index: 2;
}

.slider-column::before {
    top: 0;
    background: linear-gradient(to bottom, var(--background-clair), transparent);
}

.slider-column::after {
    bottom: 0;
    background: linear-gradient(to top, var(--background-clair), transparent);
}
.slider-track {
    display: flex;
    flex-direction: column;
    animation: slide-vertical 13s linear infinite;
}
.slider-column:hover .slider-track {
    animation-play-state: paused;
}
.reverse {
    animation-direction: reverse;
}
@keyframes slide-vertical {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}
@keyframes slide-horizontal {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@media (min-width: 1024px) {
    .competences-content {
        flex-direction: column;
        gap: 40px;
        margin-top: 35px;
    }
    .competences-text h2 {
        font-size: 58px;
    }
    .competences-text h3 {
        font-size: 24px;
    }
    .slider-column {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 100%;
    }

    .slider-track {
        flex-direction: row;
        animation: slide-horizontal 13s linear infinite;
    }
    .reverse {
        animation: slide-horizontal 13s linear infinite reverse;
    }

    .slider-column::before,
    .slider-column::after {
        height: 100%;
        width: 35px;
        top: 0;
    }

    .slider-column::before {
        left: 0;
        background: linear-gradient(to right, var(--background-clair), transparent);
    }

    .slider-column::after {
        right: 0;
        left: auto;
        background: linear-gradient(to left, var(--background-clair), transparent);
    }
}
