.banner {
    position: relative;
}
.banner img {
    width: 100%;
    height: 556px;
    filter: brightness(0.5);
    object-fit: cover;
}
.banner_content {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.banner_content h1 {
    font-family: "Righteous", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: var(--jaune);
}
.banner_content h3 {
    font-size: 20px;
    font-weight: 400;
    width: 276px;
}
.banner_buttons {
    width: 270px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 25px;
}
.banner_buttons button {
    padding: 12px 15px;
    text-decoration: none;
    border: 1px solid var(--texte-blanc);
    font-size: 18px;
    font-family: "Rethink Sans";
    width: 100%;
    cursor: pointer;
    position: relative;
}
.transparent_button {
    background: transparent;
    color: var(--texte-blanc);
    overflow: hidden;
    transition: color 0.2s ease-in-out;
    z-index: 0;
}

.banner_buttons button::before,
.banner_buttons button::after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    width: 0;
    height: 0;
    box-sizing: border-box;
    pointer-events: none;
}

.banner_buttons button::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
    bottom: 0;
    left: 0;
}

.banner_buttons button::after {
    border-top-width: 2px;
    border-right-width: 2px;
    top: 0;
    right: 0;
}

.transparent_button:hover,
.white_button:hover {
    color: var(--jaune);
    border: none;
}
.white_button:hover {
    background: transparent;
}

.banner_buttons button:hover::before,
.banner_buttons button:hover::after {
    border-color: var(--jaune);
    width: 100%;
    height: 100%;
    transition: border-color 0s, width 0.25s, height 0.25s;
}

.banner_buttons button:hover::before {
    transition-delay: 0s, 0s, 0.2s;
}

.banner_buttons button:hover::after {
    transition-delay: 0s, 0.2s, 0s;
}
.white_button {
    color: var(--background-fonce);
    background: var(--texte-blanc);
}
@media (min-width: 1160px) {
    .banner img {
        height: 825px;
    }
    .banner_content h1 {
        font-size: 58px;
    }
    .banner_content h3 {
        font-size: 28px;
    }
    .banner_content {
        width: 460px;
        left: 180px;
    }
    .banner_content h3 {
        width: 376px;
    }
}
@media (min-width: 1360px) {
    .banner_content {
        left: 280px;
    }
    .banner {
        display: flex;
        justify-content: end;
        background: #000000;
    }
    .banner img {
        width: 60%;
    }
    .banner_buttons {
        display: flex;
        width: 500px;
        align-items: baseline;
        gap: 20px;
    }
    .buttons {
        gap: 20px;
    }
}
