@import "./Styles/Variables/variables.css";

body {
    font-family: "Rethink Sans", sans-serif;
    color: var(--texte-blanc);
    background-color: var(--background-clair);
    display: flex;
    flex-direction: column;
}
.fa-solid {
    font-size: 32px;
}
#root {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    outline: none;
    padding: 0;
}
